<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /sandbox/munin-front/
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . index.html [L]
</IfModule>
